#logo-part-one{
    color: yellow;
    font-family: cursive;
    font-style: italic;
}
#logo-part-two{
    color: white;
    font-family: Roboto;
}

.s-space-bottom-full {
    margin-top: 123px;
}


#ad-box-img-wrapper{
    position: relative;
}

.ad-image{
    height: 150px;
    width: auto;
    display: block;
    margin: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.item-mask:hover{
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.item-mask:hover .ad-image {
    background-color: #222222;
    opacity: 0.9;
}

.item-mask:hover .middle {
    opacity: 1;
}

.icon {
    color: white;
    font-size: 16px;
}

.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 991px) {
    .s-space-bottom-full {
        margin-top: 0;
    }
}

.iti-flag {background-image: url("../vendor/intl-tel-input-14.0.0/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti-flag {background-image: url("../vendor/intl-tel-input-14.0.0/build/img/flags@2x.png");}
}
.invalid-feedback {
    display: none;
    margin-top: .25rem;
    font-size: -3.125rem;
    color: #dc3545;
    background: antiquewhite;
    padding: 4px;
    width: fit-content;
    border: coral solid 0.8px;
    border-radius: 3px;
}

@-moz-document url-prefix() {
    input[type="file"] {
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}


.list-group-item{
    padding: .15rem 1.25rem;
    margin-top: -2px;
    margin-bottom: -5px;
}


/*Rating css*/

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
    font-size: 40px;
}

.rating label:last-child .icon {
    color: #00A581;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #FCD200;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #00A581;
    text-shadow: 0 0 5px #FCD200;
}

.starRating{
    display: inline-block;
}

#dialog{
    text-align: center;
}
